/* Hover effect for all nav links */
.nav-link:hover:not(.active) {
    background-color: #cec4bb;  /* Hover background color */
    color: #e6ded7;  /* Hover text color */
}
  .nav-link.active {
    background-color: #b7b8a5 !important; /* Active background color */
    color: #e6ded7 !important; /* Active text color */
  }
  
  /* Active icon color */
  .nav-link.active .nav-icon {
    color: #e6ded7; /* Icon color when the link is active */
  }
